body {
	width: 650px;
	margin: 0 auto;
}

h1{
text-align:center;
}

table{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead{
	background-color: yellow;
}

th, td {
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right {
	text-align: right;	
}

tbody tr:nth-child(even) td {
	background-color: yellow;
}

tbody tr:last-child td{
    text-align:right;
    font-weight: bold;
}

.departments{
 background-color:white !important;
 vertical-align: top;
 font-weight: bold;
}

.employeeTable{
	border:solid 1px black;
	margin-top:5%;
}